<% provide(:title, 'How it works') %>

<h1>How it works </h1>

<h4>The purpose of the Girl Geek Library is to allow Nashville's technologist <br>
  to share and borrow technology books with each other and with up-and-coming <br>
  folks that want to learn something new. It's also a good excuse to meet <br>
  up and network!
</h4>